.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}

.tagContainer {
  height: 200px;
  width: 255px;
  border: 1px solid lightgray;
  overflow-x: hidden;
  overflow-y: auto;
}

.settingTitle {
  font-size: 1.2em;
  font-weight: bold;
}

.discription {
  font-size: 0.8em;
  color: gray;
}
