html,
body {
  width: 440px;
  height: 800px;
  overflow-x: hidden;
}

.panel {
  padding: 5px;
}

li {
  margin: 5px;
}

.selectList {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 !important;
}

.title {
  background-color: #19448e;
  color: #ffffff;
  height: 40px;
  padding-top: 10px;
  font-size: 16px;
  font-style: italic;
}

.resizeButton {
  width: 40px !important;
  height: 40px !important;
  margin: 0;
  padding: 0;
}

.image-container {
  position: relative;
  width: 32px;
  height: 32px;
}

.default-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: none;
}

.image-container:hover .default-image {
  display: none;
}

.image-container:hover .hover-image {
  display: block;
}
