html,
body {
  width: 440px;
  height: 800px;
  overflow-x: hidden;
}

.panel {
  padding: 5px;
}

li {
  margin: 5px;
}

.selectList {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 !important;
}

.title {
  background-color: #19448e;
  color: #ffffff;
  height: 40px;
  padding-top: 10px;
  font-size: 16px;
  font-style: italic;
}
